<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
          <!-- Trong file account/forgotpassword.html hoặc tương tự -->
<script th:inline="javascript">
        /*<![CDATA[*/
        // Function to show confirmation message and redirect after OK button click
        function showConfirmationMessage() {
            var confirmation = confirm("Mật khẩu đã được gửi đến email của bạn. Nhấn OK để đến trang đăng nhập.");

            if (confirmation) {
                window.location.href = /*[[@{/account/login}]]*/ '/';
            }
        }
        /*]]>*/
    </script>
          
</head>
<body>
<div class="container align-items-center justify-content-center d-flex">
    <div class="row w-100 d-flex justify-content-center align-items-center vh-100">
        <div class="border w-50 rounded border-black p-3">
            <form th:action="@{/account/forgotpassword}" method="post">
            <div id="messageContainer"></div>
                <h3 class="text-center">Quên Mật Khẩu</h3>
                 <div th:if="${message}" class="alert alert-primary" role="alert">
                <span th:text="${message}"></span>
            </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Tên đăng nhập:</label>
                    <input id="name" name="name" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="email" name="email" type="email" class="form-control">
                </div>

                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Nhận Mật Khẩu</button>
                    <a th:href="@{/products/home}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS and jQuery (if needed) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-Fa9s7+2ky6C/Dc8clwTJUf5v4UJ6QQVihJQxCXZS3z+BiFeVcXjFOF9dH4z/Q2F1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+xgfe5FpTcE+3S+joELZjq4c+B44U/6Piq"
        crossorigin="anonymous"></script>
</body>
</html>
