<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
    <!-- Các thẻ meta, title, và các thẻ khác -->

</head>

<body>
    <main class="container-fluid">
        <section class="row" layout:fragment="content">
            <div class="col mt-4">
                <div class="card">
                    <div class="card-header">
                        <h2>List of Customers</h2>
                    </div>
                    <div class="card-body">
                        <!-- Display message if there are no customers -->
                        <div class="row" th:if="${#lists.isEmpty(customerList)}">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    <strong>No Customers found</strong>
                                </div>
                            </div>
                        </div>

                        <!-- Table of customers -->
                        <table class="table table-striped table-inverse" th:if="${not #lists.isEmpty(customerList)}">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Customer ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Iterate over customers and display -->
                                <tr th:each="customer : ${customerList}">
                                    <td th:text="${customer.customerId}"></td>
                                    <td th:text="${customer.name}"></td>
                                    <td th:text="${customer.email}"></td>
                                    <td th:text="${customer.phone}"></td>
                                    <td>
                                        <a th:href="@{/account/delete/{id}(id=${customer.customerId})}"
                                            class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i>
                                            Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>
